---
import Header from '../components/Header.astro'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Page d'accueil</title>
	</head>
	<body>
		<h1>Accueil</h1>
		<Header>
	</body>
</html>

