---
import Base from '../layouts/Base.astro';
import Newoffre from '../components/Newoffre.astro';
import Card from '../components/Card.astro';

import { getOffres } from '../backend.mjs';
const offres = await getOffres();
console.log(offres);

---

<Base titre="Offres">
    <h1 class="uppercase text-5xl flex justify-center">Offres</h1> <!-- ou "Offres" pour la page des offres -->
    <Newoffre nomOffre="Offre 1" prix="1000€"/>
    <Newoffre nomOffre="Offre 2" prix="2000€"/>
    
    <!--
    <div>
        { offres.map((offre) =>  // afficher les nom des maisons sous forme de liste <ul>.
            <ul>
                <li>{offre.nomMaison}</li>
            </ul>
        )}
    </div>
    -->

    <div x-data="{ showFavorites: false }" class="flex flex-col items-center">
        <button @click="showFavorites = !showFavorites" class="cursor-pointer transition-all bg-gradient-to-r from-pink-500 to-pink-700 text-white px-6 py-2 rounded-lg border-pink-600 border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px] active:border-b-[2px] active:brightness-90 active:translate-y-[2px] mb-4">
            <span x-show="!showFavorites">Afficher les favoris</span>
            <span x-show="showFavorites">Afficher tout</span>
        </button>

        <div x-show="!showFavorites" class="flex justify-center gap-24">
            {offres.map((offre) => <Card {...offre} />)}
        </div>
        <div x-show="showFavorites" class="flex justify-center gap-24">
            {offres.map((offre) => offre.favori && <Card {...offre} />)}
        </div>
    </div>
    
</Base>


