---
const {adresse, id, favori, nbChambre, nbSdb, nomMaison, prix, surface, imgUrl} = Astro.props;
---

<div x-data=`{favori: ${favori}}` x-bind:class="{'bg-pink-400': favori }">
    <h2>{adresse}</h2>
    <p>{prix}</p>
</div>
</div>