---
import { bySurface} from '../../../backend.mjs'

const {surface} = Astro.params;

const offres = await bySurface(surface);
---

{offres.map(offre => (
    <div>
        <h2>{offre.nom_maison}</h2>
        <p>Surface: {offre.superficie} m²</p>
    </div>
))}